{
  "defaultSettings": {
    "prefix": "$",
    "enabledCommands": [
      "ping",
      "help",
      "enablewelcome",
      "setprefix",
      "meme",
      "poll",
      "play",
      "skip",
      "stop",
      "queue",
      "remove",
      "reactionrole"
    ],
    "welcomeEnabled": false,
    "welcomeChannelId": ""
  },
  "embedColor": "#0099ff",
  "OwnerIDs": [
    "3245258328413458121"
  ]
}